<?xml version="1.0" ?>
<config>
    <modules>
        <CP_WShop>
            <version>0.1.0</version>
        </CP_WShop>
    </modules>


    <global>
        <helpers>
            <cp_wshop>
                <class>CP_WShop_Helper</class>
            </cp_wshop>
        </helpers>
        <resources>
            <CP_WShop_setup>
                <setup>
                    <module>CP_WShop</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                <CP_WShop_write>
                <connection>
                    <use>core_write</use>
                </connection>
                </CP_WShop_write>
            <CP_WShop_read>
            <connection>
                <use>core_read</use>
            </connection>
        </CP_WShop_read>
            </CP_WShop_setup>
        </resources>

    </global>

</config>